<template>
  <div class="row">
    <div class="col-md-12" v-if="error">
      <div class="alert alert-danger">{{ $t('Произошла ошибка при сохранении данных') }}</div>
    </div>
    <div class="col-md-12" v-if="success">
      <div class="alert alert-success">{{ $t('Данные успешно сохранены') }}</div>
    </div>
    <div class="col-md-12" v-if="validateErrors.length">
      <div class="alert alert-danger" role="alert">
        <ul class="list-group">
          <li class="list-group-item" v-for="item in this.validateErrors">{{ item }}</li>
        </ul>
      </div>
    </div>
    <form @submit.prevent="handleSubmit()">
      <div class="form-group">
        <label for="sel1" class="control-label has-star">{{ $t('Дом') }}</label>
        <select class="form-control" id="sel1" v-model="realty_id" @change="getId()">
          <option value="">{{ $t('Выбрать недвижимость') }}</option>
          <option v-for="realty in realtys" :value="realty.id">{{ realty.text }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sel2" class="control-label has-star">{{ $t('Регион') }}</label>
        <select class="form-control" id="sel2" v-model="region_id" @change="getSubregions()">
          <option value="">{{ $t('Выберите регион') }}</option>
          <option v-for="(region,index) in regions" :value="changeIndex(index)">{{ region }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="sel3" class="control-label has-star">{{ $t('Район') }}</label>
        <select class="form-control" id="sel3" v-model="sub_region_id" @change="addAddon()">
          <option value="">{{ $t('Выберите районы') }}</option>
          <option v-for="(subregion,index) in subregions" :value="index">{{ subregion }}</option>
        </select>
      </div>

      <div class="form-group highlight-addon required has-success">
        <label class="control-label has-star" for="account_number">{{ $t('Номер лицевого счета') }}</label>
        <div class="input-group">
          <span class="input-group-addon">{{ addon }}</span>
          <input type="text" id="account_number" class="form-control" v-model="account_number">
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-1 float-end" v-if="!loader">
        <span>{{ $t('Редактировать') }}</span>
      </button>
      <pulse-loader :loading="loader" :color="'green'" :size="'10px'"></pulse-loader>
    </form>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import AxiosClient from "../../plugins/axiosClient";

export default {
  name: "ElektrUpdate",
  components: {PulseLoader},
  data() {
    return {
      realty_id: null,
      region_id: null,
      sub_region_id: null,
      id: null,
      account_number: '',
      addon: 0,
      realtys: [],
      regions: [],
      subregions: [],
      loader: false,
      error: false,
      success: false,
      validateErrors: []
    }
  },
  methods: {
    handleSubmit() {
      this.checkForm();
      if (this.id && this.validateErrors.length === 0) {
        this.loader = true;
        this.error = false;
        this.success = false;
        AxiosClient.post('/default/update-communal',
            {
              id: this.id,
              region_id: this.region_id,
              sub_region_id: this.sub_region_id,
              account_number: this.account_number
            },
            {
              "Content-Type": "application/json"
            }
        ).then(res => {
          this.loader = false;
          this.success = true;
        }).catch(err => {
          this.error = true;
          this.loader = false;
          this.success = false;
        })
      }
    },
    getId() {
      if (this.realty_id)
        AxiosClient.get('/default/get-communal-service-id?realty_id=' + this.realty_id + '&&type_id=' + this.$route.params.type_id)
            .then(res => {
              this.id = res.data.id
              this.account_number = res.data.account_number
            }).catch(err => console.log(err))
    },
    getSubregions() {
      AxiosClient.get('/default/upay-sub-regions?type_id=' + this.$route.params.type_id + "&&region_id=" + this.region_id)
          .then(res => {
            this.subregions = res.data
          }).catch(err => console.log(err))
    },
    addAddon() {
      this.addon = this.region_id + this.sub_region_id
    },
    checkForm() {
      this.error = false;
      this.success = false;
      this.validateErrors = [];
      var reg = new RegExp('^[0-9]*$');
      if (!this.realty_id) {
        this.validateErrors.push(this.$t('«Дом» должен быть заполнен.'));
      }
      if (!this.account_number) {
        this.validateErrors.push(this.$t('«Номер лицевого счета» должен быть заполнен.'));
      }
      if (this.realty_id && !reg.test(this.realty_id)) {
        this.validateErrors.push(this.$t('«Дом» должен быть только числом.'));
      }
      if (this.account_number && !reg.test(this.account_number)) {
        this.validateErrors.push(this.$t('«Номер лицевого счета» должен быть только числом.'));
      }
      if (!this.id && this.id !== null) {
        this.validateErrors.push(this.$t('В выбранном доме нет инженерных коммуникаций.'));
      }
    },
    changeIndex(index) {
      if (index < 10)
        return '0' + index.toString();
      return index
    }
  },
  created() {
    AxiosClient.get('/default/realties')
        .then(res => {
          this.realtys = res.data.data
        }).catch(err => console.log(err))

    AxiosClient.get('/default/upay-regions?type_id=' + this.$route.params.type_id)
        .then(res => {
          this.regions = res.data
        }).catch(err => console.log(err))
  }
}
</script>

<style scoped>

</style>