<template>
  <div class="container">
    <ElektrUpdate v-if="this.type_id == 3"/>
    <GasUpdate v-else-if="this.type_id == 166"/>
    <Updater v-else-if="this.type_id == 119  || this.type_id == 127 || this.type_id == 168 || this.type_id == 367"/>
    <div v-else></div>
  </div>
</template>

<script>
import ElektrUpdate from "./ElektrUpdate";
import GasUpdate from "./GasUpdate";
import Updater from "./Updater";

export default {
  name: "UpdaterView",
  props: ['id', 'type_id'],
  components: {Updater, GasUpdate, ElektrUpdate},
  mounted() {
    this.$store.dispatch('changeType', {
      type_id: parseInt(this.type_id)
    })
    this.$store.dispatch('changeRealty', {
      realty_id: parseInt(this.id)
    })
  }
}
</script>

<style scoped>

</style>