@font-face {
  font-family: "m_bold";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "m_smbold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "m_m";
  src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "m_r";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}
@media (min-width: 1600px) {
  .container {
    width: 1590px;
  }
}
.cml_btns {
  width: 100%;
  padding: 20px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cml_back_btn button {
  border-radius: 18px;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  font-family: "m_r";
  font-size: 16px;
  line-height: 37px;
  display: block;
  padding: 12px 40px;
  text-align: center;
  position: relative;
  width: 170px;
  background: white;
  color: #232323;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}
.cml_back_btn button img {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 22px;
  left: 35px;
}
.cml_back_btn button:hover {
  background: #EFF9FF;
}
.cml_back_btn button:hover img {
  left: 15px;
}

.cml_btns_filter {
  float: right;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  border-radius: 18px;
}

.cml_btns_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background: white;
}

.cml_links {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  font-family: "m_bold";
  font-size: 16px;
  line-height: 20px;
  color: #474747;
  cursor: pointer;
  padding: 0px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 70px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.active_cml_links {
  background-color: #49A4CC!important;
  color: white;
}

.active_cml_links a{
  color: white;
}
.cml_links img {
  margin-right: 15px;
}

.cml_links:nth-child(1) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.cml_links:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.cml_links:hover {
  background-color: #49A4CC;
  color: white;
}

.cml_list_item {
  background: white;
  border: 1px solid #5C8EFF;
  border-radius: 14px;
  padding: 55px 110px 35px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.cml_list_item h3 {
  color: #5C8EFF;
  letter-spacing: 0.82px;
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 30px;
  margin-top: 0;
  font-family: "m_bold";
}

.bg_nl_blue {
  background: #EFF9FF;
}

.new_cml_wrap {
  padding-bottom: 50px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.new_table_style {
  margin: 0 auto;
  width: 1125px;
  max-width: 100%;
}
.new_table_style table {
  width: 100%;
  margin-bottom: 50px;
}
.new_table_style table thead tr:nth-child(odd) {
  background: #EFF9FF;
}
.new_table_style table thead tr:nth-child(even) {
  background: white;
}
.new_table_style table thead tr th {
  letter-spacing: 0.82px;
  font-size: 16px;
  line-height: 26px;
  font-family: "m_bold";
  padding: 18px 65px;
  position: relative;
  border-right: 1px solid #D4E1FE;
}
.new_table_style table thead tr th:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.new_table_style table thead tr th:nth-child(1) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.new_table_style table thead tr th:last-child {
  border-right: none !important;
}
.new_table_style table tbody tr:nth-child(odd) {
  background: #EFF9FF;
}
.new_table_style table tbody tr:nth-child(even) {
  background: white;
}
.new_table_style table tbody tr th {
  letter-spacing: 0.82px;
  font-size: 16px;
  line-height: 26px;
  font-family: "m_bold";
  padding: 18px 65px;
  position: relative;
}
.new_table_style table tbody tr th:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.new_table_style table tbody tr th::after {
  position: absolute;
  content: "";
  top: 24px;
  left: 24px;
  background-color: #5C8EFF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.new_table_style table tbody tr td {
  border-left: 1px solid #D4E1FE;
  padding: 18px 65px;
}
.new_table_style table tbody tr td:first-child {
  border-left: 0;
}
.new_table_style table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.showmore_btn {
  text-align: center;
  padding: 12px 35px;
  color: #5C8EFF;
  font-family: "m_bold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.82px;
  border: 1px solid #5C8EFF;
  border-radius: 6px;
  text-decoration: none !important;
  display: block;
  margin: 0 auto;
  width: 150px;
  max-width: 170px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.showmore_btn::after,
.showmore_btn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
  border-radius: 6px;
}

.showmore_btn::after {
  bottom: -2px;
  right: -1px;
  border-radius: 6px;
  border-left: 3px solid #3D64BB;
  border-bottom: 3px solid #3D64BB;
  -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  border-radius: 6px;
}

.showmore_btn::before {
  top: -1px;
  left: -2px;
  border-top: 3px solid #3D64BB;
  border-right: 3px solid #3D64BB;
  border-radius: 6px;
  -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
}

.showmore_btn:hover {
  -webkit-animation: pulse 1s ease-out 0.4s;
          animation: pulse 1s ease-out 0.4s;
  color: #3D64BB;
  border-radius: 6px;
}

.showmore_btn:hover::after,
.showmore_btn:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  visibility: visible;
  border-radius: 6px;
  -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.showmore_btn:hover::after {
  -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  border-radius: 6px;
}

.showmore_btn:hover::before {
  -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
  transition: width 0.1s ease, height 0.1s ease 0.1s;
  border-radius: 6px;
}

.after_table_btns {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.after_table_btns a {
  display: inline-block;
  margin-right: 18px;
  border-radius: 6px;
  width: 150px;
  font-size: 16px;
  line-height: 24px;
  font-family: "m_r";
  color: white;
  padding: 8px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.after_table_btns a img {
  margin-right: 14px;
  text-align: center;
}
.after_table_btns a:nth-child(odd) {
  background: #71B164;
}
.after_table_btns a:nth-child(even) {
  background: #3D64BB;
}
.after_table_btns a:last-child {
  margin-right: 0;
}
.after_table_btns a:hover {
  color: white !important;
  background: #4579EE;
}

@media (min-width: 1199px) and (max-width: 1599px) {
  .cml_links {
    padding: 15px 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cml_links {
    padding: 0px 15px;
    height: 60px;
  }

  .new_table_style {
    width: 100%;
  }

  .cml_list_item {
    padding: 40px 15px 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cml_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cml_btns_filter {
    margin-top: 20px;
    width: 100%;
  }

  .cml_links {
    padding: 0px 5px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
  }
  .cml_links img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .new_table_style {
    width: 100%;
  }

  .cml_list_item {
    padding: 40px 15px 35px;
  }

  .cml_back_btn a {
    padding: 6px 15px;
  }
  .cml_back_btn a img {
    top: 17px;
  }
}
@media (max-width: 767px) {
  .cml_links{
    border-radius: 18px;
  }
  .cml_list_item {
    overflow-x: scroll;
  }

  .new_table_style table tbody tr th {
    padding: 12px 25px;
  }
  .new_table_style table tbody tr th::after {
    display: none;
  }

  .new_table_style table tbody tr td {
    padding: 12px 25px;
  }

  .new_cml_wrap .container {
    padding: 0 30px;
  }

  .cml_links {
    padding: 0px 15px;
    height: 50px;
  }

  .cml_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cml_btns_filter {
    margin-top: 20px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .cml_btns_filter button {
    border-radius: 12px !important;
    background: white;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  }
  .cml_btns_filter .cml_links:nth-child(1) {
    border-radius: 12px;
  }
  .cml_btns_filter .cml_links:last-child {
    border-radius: 12px;
  }

  .cml_links {
    padding: 0px 5px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
    text-decoration: none;

  }
  .cml_links img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .new_table_style {
    width: 100%;
  }

  .cml_list_item {
    padding: 40px 15px 35px;
  }

  .cml_back_btn a {
    padding: 6px 15px;
  }
  .cml_back_btn a img {
    top: 17px;
  }
}
@media (max-width: 575px) {
  .new_cml_wrap .container {
    padding: 0 30px;
  }

  .cml_links {
    padding: 0px 15px;
    height: 50px;
  }

  .cml_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cml_btns_filter {
    margin-top: 20px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .cml_btns_filter button {
    border-radius: 12px !important;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
  }
  .cml_btns_filter .cml_links:nth-child(1) {
    border-radius: 12px;
  }
  .cml_btns_filter .cml_links:last-child {
    border-radius: 12px;
  }

  .cml_links {
    padding: 0px 5px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
  }
  .cml_links img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .new_table_style {
    width: 100%;
  }

  .cml_list_item {
    padding: 20px 15px 35px;
  }

  .cml_back_btn a {
    padding: 6px 10px;
  }
  .cml_back_btn a img {
    top: 17px;
  }

  .cml_list_item h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .showmore_btn {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
  }

  .after_table_btns {
    text-align: center;
  }
  .after_table_btns a {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
  }
  .after_table_btns a:last-child {
    margin-bottom: 0;
  }
}

.danger-color{
  color: red!important;
}

.success-color{
  color: green!important;
}


/*************************************     K A D A S T R    S L I D E R     **********************************************/
.kadastr_slider {
  width: 100%;
  padding: 30px;
  background: transparent;
}
.kadastr_slider .row {
  position: relative;
}

.add_btn_kad {
  position: absolute;
  top: 50px;
  right: 40px;
  background: white;
  width: 69px;
  height: 69px;
  border-radius: 14px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 4px 10px 0 rgba(34, 60, 80, 0.2);
}
.add_btn_kad a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add_btn_kad a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add_btn_kad a:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.kadastr_new_slider {
  max-width: 960px;
  position: relative;
}
.kadastr_new_slider .owl-stage-outer {
  width: 100%;
}
.kadastr_new_slider .owl-nav.disabled {
  display: block !important;
  position: absolute;
  top: 73px;
  width: 100%;
  height: 20px;
}
.kadastr_new_slider .owl-prev {
  position: absolute;
  left: -40px;
}
.kadastr_new_slider .owl-next {
  position: absolute;
  right: -140px;
}

.kadastr_item {
  padding: 30px 20px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.kadastr_item .slider_decor_item {
  position: absolute;
  z-index: 0;
  right: 10px;
  bottom: 0;
  width: 107px !important;
  height: 107px !important;
  opacity: 1;
}
.kadastr_item .kadastr_info_1 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}
.kadastr_item .kadastr_info_1:last-child {
  margin-bottom: 0;
}
.kadastr_item .kadastr_info_1 .kadastr_img {
  background: #EFF9FF;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}
.kadastr_item .kadastr_info_1 .kadastr_img img {
  width: 20px;
  height: 20px;
}
.kadastr_item .kadastr_info_1 .kadastr_info h4 {
  font-size: 18px;
  line-height: 30px;
  color: #232323;
  font-family: "m_r";
  margin: 0;
  max-width: 365px;
  width: 100%;
}
.kadastr_item .kadastr_info_1:last-child .kadastr_img {
  margin-top: 0;
}
.kadastr_item:hover {
  background: #0c8284;
  background: linear-gradient(146deg, #0c8284 0%, #50db9e 100%);
}

.kadastr_item_hover {
  background: #0c8284;
  background: linear-gradient(146deg, #0c8284 0%, #50db9e 100%);
}

.kadastr_item:hover .kadastr_info h4 {
  color: white;
  font-family: "m_m";
}
.kadastr_item:hover .slider_decor_item {
  opacity: 0.5;
}

.kadastr_item.item_selected {
  background: #0c8284;
  background: linear-gradient(146deg, #0c8284 0%, #50db9e 100%);
}
.kadastr_item.item_selected .kadastr_info h4 {
  color: white;
  font-family: "m_m";
}
.kadastr_item.item_selected .slider_decor_item {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .kadastr_slider .kadastr_new_slider {
    max-width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
  .kadastr_slider .owl-next {
    right: -30px;
    top: calc(50% - 16px);
  }
  .kadastr_slider .owl-prev {
    left: -30px;
    top: calc(50% - 16px);
  }
  .kadastr_slider .kadastr_item {
    padding: 10px;
  }
  .kadastr_slider .kadastr_item .kadastr_info h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .kadastr_slider .kadastr_item .slider_decor_item {
    display: none;
  }
  .kadastr_slider .kadastr_item .kadastr_info_1 {
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kadastr_slider .kadastr_item .kadastr_info_1:last-child {
    display: none;
  }

  .add_btn_kad {
    position: static;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .kadastr_slider .kadastr_new_slider {
    max-width: 700px;
    margin-left: 30px;
  }
  .kadastr_slider .owl-next {
    right: -20px;
    top: 75px !important;
  }
  .kadastr_slider .owl-prev {
    left: -25px;
    top: 75px !important;
  }

  .add_btn_kad {
    position: static;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .kadastr_slider .kadastr_new_slider {
    max-width: 800px;
    margin-left: 40px;
  }
  .kadastr_slider .owl-next {
    right: -120px;
    top: 32px;
  }
  .kadastr_slider .owl-prev {
    top: 32px;
  }

  .add_btn_kad {
    right: 40px;
    top: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1619px) {
  .kadastr_new_slider {
    margin-left: 70px;
  }
}
@media (min-width: 1620px) {
  .kadastr_slider .container {
    width: 1240px;
    max-width: 1240px;
  }

  .kadastr_new_slider {
    margin-left: 0;
  }

  .add_btn_kad {
    right: 120px;
  }

  .kadastr_new_slider {
    max-width: 780px;
    margin-left: 25px;
    position: relative;
  }
}

.owl-prev{
  display: none!important;
}
.owl-next{
  display: none!important;
}
/*************************************   !/!  K A D A S T R    S L I D E R   !/!  ****************************************/

@media (max-width: 1199px) {
  .kadastr_item.btn_kadastr {
    position: relative !important;
    margin-bottom: 40px;
    width: auto !important;
  }
  .kadastr_item.btn_kadastr .slider_decor_item {
    right: 12px !important;
  }

  .kadastr_slider .kadastr_new_slider {
    max-width: 100%;
    width: 100%;
  }

  .owl-prev {
    left: -25px !important;
  }

  .owl-next {
    right: -25px !important;
  }

  .kadastr_slider .owl-prev {
    top: calc(100% - 20px) !important;
  }

  .kadastr_slider .owl-next {
    top: calc(100% - 20px) !important;
  }

  .row.d_fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .kadastr_slider .owl-prev {
    top: -100% !important;
  }

  .kadastr_slider .owl-next {
    top: -100% !important;
  }

  .kadastr_item.btn_kadastr {
    display: block;
    width: 100% !important;
  }

  .kadastr_item.btn_kadastr {
    margin: 0 auto 30px;
    height: auto !important;
  }
  .kadastr_item.btn_kadastr .kadastr_info_1 {
    padding: 5px 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-bottom: 0px !important;
  }
  .kadastr_item.btn_kadastr .kadastr_info_1:last-child {
    margin-bottom: 0 !important;
  }
  .kadastr_item.btn_kadastr .add_btn_kad {
    width: 50px;
    height: 43px !important;
    margin-left: 5px !important;
  }
  .kadastr_item.btn_kadastr input {
    padding: 5px !important;
  }

  .kadastr_slider {
    margin-bottom: 0 !important;
  }

  .kadastr_slider .kadastr_new_slider {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .kadastr_slider .kadastr_new_slider .owl-item {
    margin-right: 0 !important;
  }
  .kadastr_slider .kadastr_new_slider .owl-item .kadastr_item .kadastr_info_1 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .kadastr_slider .kadastr_new_slider .owl-item .kadastr_item .kadastr_info_1:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .kadastr_item.btn_kadastr {
    display: block;
    width: 100% !important;
  }

  .kadastr_slider .kadastr_new_slider {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .kadastr_slider .kadastr_new_slider .owl-item {
    margin-right: 0 !important;
  }
  .kadastr_slider .kadastr_new_slider .owl-item .kadastr_item .kadastr_info_1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  .kadastr_slider .kadastr_new_slider .owl-item .kadastr_item .kadastr_info_1:last-child {
    display: none !important;
  }

  .owl-nav {
    top: 43px !important;
  }

  .owl-nav.disabled {
    top: 43px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .owl-nav {
    top: 0 !important;
  }

  .owl-nav.disabled {
    top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .kadastr_new_slider {
    margin-left: 0;
  }

  .kadastr_item.btn_kadastr {
    width: 340px;
    right: 0px;
  }
  .kadastr_item.btn_kadastr .slider_decor_item {
    right: 2px;
  }

  .owl-nav {
    top: 100px;
  }

  .owl-nav.owl-nav.disabled {
    top: 100px;
  }

  .cml_links {
    padding: 15px 15px;
    height: 60px;
  }

  .new_table_style {
    width: 100%;
  }

  .cml_list_item {
    padding: 40px 15px 35px;
  }
}

.kadastr_item.btn_kadastr {
  background: #0c8284;
  background: linear-gradient(146deg, #0c73a6 0%, #3cb3e6 100%) !important;
  cursor: auto;
  width: 470px;
  height: 170px;
  position: absolute;
  top: 0;
  right: 0;
}
.kadastr_item.btn_kadastr h4 {
  color: white !important;
  font-family: "m_m" !important;
}
.kadastr_item.btn_kadastr .slider_decor_item {
  opacity: 0.5 !important;
  top: 10px;
  width: 65px !important;
  height: 73px !important;
  right: 72px;
}
.kadastr_item.btn_kadastr input {
  font-size: 18px;
  line-height: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  background: transparent;
  outline: none;
  padding: 5px 15px;
}
.kadastr_item.btn_kadastr input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.kadastr_item.btn_kadastr input::-moz-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.kadastr_item.btn_kadastr input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.kadastr_item.btn_kadastr input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.kadastr_item.btn_kadastr input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.kadastr_item.btn_kadastr .kadastr_info_1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kadastr_item.btn_kadastr .add_btn_kad {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.kadastr_slider {
  margin-bottom: 50px;
  width: 100%;
  padding: 30px;
  background: transparent;
}

@media (min-width: 1620px) {
  .kadastr_new_slider.owl-carousel {
    margin-left: 25px;
  }

  .kadastr_slider .container {
    width: 1590px;
    max-width: 1590px;
  }

  .kadastr_new_slider {
    margin-left: 0;
  }

  .add_btn_kad {
    right: 120px;
  }

  .kadastr_new_slider {
    max-width: 1020px;
    width: 1020px;
  }
}

@media (min-width: 1200px) and (max-width: 1619px) {
  .kadastr_new_slider {
    margin-left: 0;
  }

  .kadastr_item.btn_kadastr {
    width: 340px;
    right: 0px;
  }
  .kadastr_item.btn_kadastr .slider_decor_item {
    right: 2px;
  }

  .owl-nav {
    top: 100px;
  }

  .owl-nav.owl-nav.disabled {
    top: 100px;
  }
}

.add_btn_kad{
  position: static !important;
  margin-left: 10px !important;
  width: 48px !important;
  height: 47px !important;
}
