@font-face {
    font-family: "m_bold";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "m_smbold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype")
}

@font-face {
    font-family: "m_m";
    src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "m_r";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype")
}

@media (min-width: 1600px) {
    .container {
        width: 1590px
    }
}

.cml_btns {
    width: 100%;
    padding: 20px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.cml_back_btn a {
    border-radius: 18px;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    font-family: "m_r";
    font-size: 16px;
    line-height: 37px;
    display: block;
    padding: 12px 40px;
    text-align: center;
    position: relative;
    width: 170px;
    background: white;
    color: #232323;
    text-decoration: none !important;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.cml_back_btn a img {
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 22px;
    left: 35px
}

.cml_back_btn a:hover {
    background: #EFF9FF
}

.cml_back_btn a:hover img {
    left: 15px
}

.cml_btns_filter {
    float: right;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
    border-radius: 18px
}

.cml_btns_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    background: white
}

.cml_links {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    font-family: "m_bold";
    font-size: 16px;
    line-height: 20px;
    color: #474747;
    cursor: pointer;
    padding: 15px 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 17px;
    height: 70px
}

.cml_links img {
    margin-right: 15px
}

.cml_links:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px
}

.cml_links:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px
}

.cml_links:hover {
    background-color: #49A4CC;
    color: white
}

.cml_list_item {
    background: white;
    border: 1px solid #5C8EFF;
    border-radius: 14px;
    display: none;
    padding: 55px 110px 35px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s
}

.cml_list_item h3 {
    color: #5C8EFF;
    letter-spacing: 0.82px;
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: "m_bold"
}

.bg_nl_blue {
    background: #EFF9FF
}

.new_cml_wrap {
    padding-bottom: 50px
}

@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.new_table_style {
    margin: 0 auto;
    width: 1125px;
    max-width: 100%
}

.new_table_style table {
    width: 100%;
    margin-bottom: 50px
}

.new_table_style table thead tr:nth-child(odd) {
    background: #EFF9FF
}

.new_table_style table thead tr:nth-child(2n) {
    background: white
}

.new_table_style table thead tr th {
    letter-spacing: 0.82px;
    font-size: 16px;
    line-height: 26px;
    font-family: "m_bold";
    padding: 18px 65px;
    position: relative;
    border-right: 1px solid #D4E1FE
}

.new_table_style table thead tr th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.new_table_style table thead tr th:first-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.new_table_style table thead tr th:last-child {
    border-right: none !important
}

.new_table_style table tbody tr:nth-child(odd) {
    background: #EFF9FF
}

.new_table_style table tbody tr:nth-child(2n) {
    background: white
}

.new_table_style table tbody tr th {
    letter-spacing: 0.82px;
    font-size: 16px;
    line-height: 26px;
    font-family: "m_bold";
    padding: 18px 65px;
    position: relative
}

.new_table_style table tbody tr th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.new_table_style table tbody tr th:after {
    position: absolute;
    content: "";
    top: 24px;
    left: 24px;
    background-color: #5C8EFF;
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.new_table_style table tbody tr td {
    border-left: 1px solid #D4E1FE;
    padding: 18px 65px
}

.new_table_style table tbody tr td:first-child {
    border-left: 0
}

.new_table_style table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.showmore_btn {
    text-align: center;
    padding: 12px 35px;
    color: #5C8EFF;
    font-family: "m_bold";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.82px;
    border: 1px solid #5C8EFF;
    border-radius: 6px;
    text-decoration: none !important;
    display: block;
    margin: 0 auto;
    width: 150px;
    max-width: 170px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative
}

.showmore_btn:after, .showmore_btn:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
    border-radius: 6px
}

.showmore_btn:after {
    bottom: -2px;
    right: -1px;
    border-radius: 6px;
    border-left: 3px solid #3D64BB;
    border-bottom: 3px solid #3D64BB;
    -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
    border-radius: 6px
}

.showmore_btn:before {
    top: -1px;
    left: -2px;
    border-top: 3px solid #3D64BB;
    border-right: 3px solid #3D64BB;
    border-radius: 6px;
    -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s
}

.showmore_btn:hover {
    -webkit-animation: pulse 1s ease-out 0.4s;
    animation: pulse 1s ease-out 0.4s;
    color: #3D64BB;
    border-radius: 6px
}

.showmore_btn:hover:after, .showmore_btn:hover:before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    border-radius: 6px;
    -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s
}

.showmore_btn:hover:after {
    -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
    border-radius: 6px
}

.showmore_btn:hover:before {
    -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
    transition: width 0.1s ease, height 0.1s ease 0.1s;
    border-radius: 6px
}

.after_table_btns {
    margin-top: 40px;
    width: 100%;
    text-align: center
}

.after_table_btns a {
    display: inline-block;
    margin-right: 18px;
    border-radius: 6px;
    width: 150px;
    font-size: 16px;
    line-height: 24px;
    font-family: "m_r";
    color: white;
    padding: 8px 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.after_table_btns a img {
    margin-right: 14px;
    text-align: center
}

.after_table_btns a:nth-child(odd) {
    background: #71B164
}

.after_table_btns a:nth-child(2n) {
    background: #3D64BB
}

.after_table_btns a:last-child {
    margin-right: 0
}

.after_table_btns a:hover {
    color: white !important;
    background: #4579EE
}

@media (min-width: 1199px) and (max-width: 1599px) {
    .cml_links {
        padding: 15px 25px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cml_links {
        padding: 15px 15px;
        height: 60px
    }

    .new_table_style {
        width: 100%
    }

    .cml_list_item {
        padding: 40px 15px 35px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cml_btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cml_btns_filter {
        margin-top: 20px;
        width: 100%
    }

    .cml_links {
        padding: 10px 5px;
        height: 50px;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0
    }

    .cml_links img {
        margin-right: 5px;
        width: 20px;
        height: 20px
    }

    .new_table_style {
        width: 100%
    }

    .cml_list_item {
        padding: 40px 15px 35px
    }

    .cml_back_btn a {
        padding: 6px 15px
    }

    .cml_back_btn a img {
        top: 17px
    }
}

@media (max-width: 767px) {
    .cml_list_item {
        overflow-x: scroll
    }

    .new_table_style table tbody tr th {
        padding: 12px 25px
    }

    .new_table_style table tbody tr th:after {
        display: none
    }

    .new_table_style table tbody tr td {
        padding: 12px 25px
    }

    .new_cml_wrap .container {
        padding: 0 30px
    }

    .cml_links {
        padding: 15px 15px;
        height: 50px
    }

    .cml_btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cml_btns_filter {
        margin-top: 20px;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns:1fr 1fr 1fr;
        gap: 20px 20px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .cml_btns_filter button {
        border-radius: 12px !important;
        background: white;
        -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2)
    }

    .cml_btns_filter .cml_links:first-child {
        border-radius: 12px
    }

    .cml_btns_filter .cml_links:last-child {
        border-radius: 12px
    }

    .cml_links {
        padding: 10px 5px;
        height: 50px;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0
    }

    .cml_links img {
        margin-right: 5px;
        width: 20px;
        height: 20px
    }

    .new_table_style {
        width: 100%
    }

    .cml_list_item {
        padding: 40px 15px 35px
    }

    .cml_back_btn a {
        padding: 6px 15px
    }

    .cml_back_btn a img {
        top: 17px
    }
}

@media (max-width: 575px) {
    .new_cml_wrap .container {
        padding: 0 30px
    }

    .cml_links {
        padding: 15px 15px;
        height: 50px
    }

    .cml_btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cml_btns_filter {
        margin-top: 20px;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns:1fr 1fr;
        gap: 20px 20px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .cml_btns_filter button {
        border-radius: 12px !important;
        -webkit-box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 25px 0px rgba(34, 60, 80, 0.2)
    }

    .cml_btns_filter .cml_links:first-child {
        border-radius: 12px
    }

    .cml_btns_filter .cml_links:last-child {
        border-radius: 12px
    }

    .cml_links {
        padding: 10px 5px;
        height: 50px;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0
    }

    .cml_links img {
        margin-right: 5px;
        width: 20px;
        height: 20px
    }

    .new_table_style {
        width: 100%
    }

    .cml_list_item {
        padding: 20px 15px 35px
    }

    .cml_back_btn a {
        padding: 6px 10px
    }

    .cml_back_btn a img {
        top: 17px
    }

    .cml_list_item h3 {
        font-size: 22px;
        line-height: 30px
    }

    .showmore_btn {
        width: 100%;
        max-width: 100%;
        text-align: center;
        display: block
    }

    .after_table_btns {
        text-align: center
    }

    .after_table_btns a {
        display: inline-block;
        width: 100%;
        margin: 0 auto 20px
    }

    .after_table_btns a:last-child {
        margin-bottom: 0
    }
}