<template>
  <div class="home">
  </div>
</template>

<script>

export default {
  name: 'Home',
  props: ['id'],
  components: {},
  mounted() {
    if (this.$route.params.id)
      this.$store.dispatch('changeRealty', {
        realty_id: parseInt(this.$route.params.id)
      })
  }
}
</script>
