<template>
  <div>
    <div v-if="loading">
      <br>
      <br>
      <br>
      <VueLoader/>
    </div>
    <div v-else>
      <MainContentContent :data="this.data"/>
    </div>
  </div>
</template>

<script>
import VueLoader from "../components/VueLoader";
import MainContentContent from "../components/MainContentContent";
import AxiosClient from "../plugins/axiosClient";

export default {
  name: "MainContent",
  props: ['id', 'type_id'],
  components: {
    VueLoader,
    MainContentContent,
  },
  data() {
    return {
      loading: true,
      data: '',
    }
  },
  created() {
    if (this.id && this.type_id) {
      this.$store.dispatch('changeType', {
        type_id: parseInt(this.type_id)
      })
      this.$store.dispatch('changeRealty', {
        realty_id: parseInt(this.id)
      })
      AxiosClient.get('/default/communal-info?realty_id=' + this.id + "&&type_id=" + this.type_id)
          .then(response => {
            this.loading = false
            if (response.data) {
              this.data = response.data
            }
            this.$store.dispatch('setCommunals', {
              data: response.data,
              type_id: this.type_id
            })
          }).catch(err => {
        this.loading = false
        console.log(err)
      })
    }

  }
}
</script>

<style scoped>

</style>