<template>
  <div class="kadastr_item btn_kadastr ">
    <img src="/img/home.svg" alt="image" class="slider_decor_item">
    <div class="kadastr_info_1">
      <div class="kadastr_img">
        <img src="/img/loc_ic.svg" alt="image">
      </div>
      <div class="kadastr_info">
        <h4 v-if="!errorMess && !successMess">Добавить недвижимость</h4>
        <h4 v-if="errorMess" class="text-danger">{{ errorMess }}</h4>
        <h4 v-if="successMess">{{ successMess }}</h4>
      </div>
    </div>
    <div class="kadastr_info_1">
      <div class="kadastr_img">
        <img src="/img/map_ic.svg" alt="image">
      </div>
      <div class="kadastr_info">
        <input type="text" placeholder="00:00:00:00:00:0000" v-maska="['##:##:##:##:##:####',
                '##:##:##:##:##:####/##',
                '##:##:##:##:##:####:####:###',
                '##:##:##:##:##:####:####:###/##']" v-model="cadastral_number">
      </div>
      <div class="add_btn_kad" v-if="!loading">
        <a href="#" @click="handleAdd()"><img src="/img/plus_ic.svg" alt="image"></a>
      </div>
      <pulse-loader :loading="loading" :color="'green'" :size="'10px'"></pulse-loader>
    </div>
  </div>
</template>

<script>
import {maska} from 'maska'
import AxiosClient from "../plugins/axiosClient";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import RealtyView from "./RealtyView";
import VueLoader from "../components/VueLoader";


export default {
  name: "AddRealty",
  components: {RealtyView, PulseLoader, VueLoader},
  directives: {maska},
  data() {
    return {
      cadastral_number: '',
      errorMess: null,
      loading: false,
      loadingAdd: false,
      data: null,
      response: null,
      successMess: null
    }
  },
  methods: {
    handleAdd() {
      this.errorMess = null
      if (this.cadastral_number === '') {
        this.errorMess = this.$t('Необходимо заполнить «Кадастровый №»')
      } else {
        this.loading = true
        AxiosClient.post('/default/add-realty',
            {
              cadastral_number: this.cadastral_number
            }
        ).then(res => {
          this.loading = false
          this.cadastral_number = ''
          if (res.data.success) {
            this.data = res.data.data.model
            this.response = res.data.data.response
            this.successMess = res.data.data.cadastral_number
            this.$emit('newRealty')
          } else {
            this.errorMess = res.data.message
          }
        }).catch(err => {
          console.log(err)
        })
      }
    },
  }
}
</script>

<style scoped>

</style>