<template>
  <div v-if="this.data">
    <h1>{{ $t('Подробнее') }}</h1>
    <table class="table table-condensed table-striped table-bordered">
      <tbody>
      <tr>
        <th>{{ $t('ФИО потребителя') }}</th>
        <td>{{ data.fio }}</td>
      </tr>
      <tr>
        <th>{{ $t('Сумма последней оплаты') }}</th>
        <td>{{ data.ltf }}</td>
      </tr>
      <tr>
        <th>{{ $t('Лицевой счет потребителя') }}</th>
        <td>{{ data.pid }}</td>
      </tr>
      <tr>
        <th>{{ $t('Текущий баланс') }}</th>
        <td>{{ data.saldo }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-else>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">{{ $t('Данные не найдены') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ColdWater",
  props: ['id', 'data']
}
</script>

<style scoped>

</style>