<template>
  <div v-if="this.data && this.data['SALDO_PERIOD'] && this.data['SALDO_PERIOD'] && this.data['OTHER_DOCS']">
    <h1>{{ $t('Подробнее') }}</h1>

    <div class="mobile_style_scroll">
      <table class="table table-condensed table-striped table-bordered">
        <tbody>
        <tr>
          <th>{{ $t('ФИО') }}</th>
          <td>{{ data['FIO'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Номер паспорта') }}</th>
          <td>{{ data['PASSPORT_NUMBER'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('ПИН ФЛ') }}</th>
          <td>{{ data['PINFL'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Номер договора') }}</th>
          <td>{{ data['CONTRACT_NUMBER'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата контракта') }}</th>
          <td>{{ data['CONTRACT_DATE'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Лицевой счет') }}</th>
          <td>{{ data['CUSTOMER_CODE'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Адрес') }}</th>
          <td>{{ data['ADRESS'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Название махалли') }}</th>
          <td>{{ data['MAXALL_NAME'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Кадастровый код') }}</th>
          <td>{{ data['KADASTR_CODE'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Тип счетчика') }}</th>
          <td>{{ data['METER_TYPE'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Сериия и номер счетчика') }}</th>
          <td>{{ data['METER_NO'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата установки') }}</th>
          <td>{{ data['METER_DATE'] }}</td>
        </tr>
        <tr>
          <th>{{ $t('Последняя дата показания') }}</th>
          <td>{{ data['LAST_POK_DATE'] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div
        v-if="this.saldo_in.length === this.period_length &&
          this.debit.length === this.period_length &&
          this.redebit.length === this.period_length &&
          this.credit.length === this.period_length &&
          this.saldo_out.length === this.period_length">
      <p class="title">{{ $t('Информация о счёте') }}</p>
      <div class="mobile_style_scroll">
        <table class="table table-condensed table-striped table-bordered">
          <thead>
          <tr>
            <th>{{ $t('Период') }}</th>
            <th>{{ $t('Входящее сальдо') }}</th>
            <th>{{ $t('Начислено') }}</th>
            <th>{{ $t('Перерасчет') }}</th>
            <th>{{ $t('Оплата') }}</th>
            <th>{{ $t('Исхдящее сальдо') }}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(value,index) in this.period">
            <td>{{ period[index] }}</td>
            <td>{{ saldo_in[index] }}</td>
            <td>{{ debit[index] }}</td>
            <td>{{ redebit[index] }}</td>
            <td>{{ credit[index] }}</td>
            <td>{{ saldo_out[index] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div v-if="this.pay_date.length === this.pay_sum_length && this.pay_date.length === this.pay_sum_length">
      <p class="title">{{ $t('Информация об оплате') }}</p>
      <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
          <th>{{ $t('Сумма оплаты') }}</th>
          <th>{{ $t('Тип оплата') }}</th>
          <th>{{ $t('Дата оплаты') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(value,index) in this.pay_sum">
          <td>{{ pay_sum[index] }}</td>
          <td>{{ pay_type[index] }}</td>
          <td>{{ pay_date[index] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div
        v-if="this.meter_type.length === this.meter_no.length && this.meter_type.length === this.reading.length && this.meter_type.length === this.reading_date.length">
      <p class="title">{{ $t('История показаний счётчика') }}</p>
      <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
          <th>{{ $t('Тип счетчика') }}</th>
          <th>{{ $t('Серейный № документа') }}</th>
          <th>{{ $t('Показание') }}</th>
          <th>{{ $t('Дата показания') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(value,index) in this.meter_type">
          <td>{{ meter_type[index] }}</td>
          <td>{{ meter_no[index] }}</td>
          <td>{{ reading[index] }}</td>
          <td>{{ reading_date[index] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div
        v-if="this.doc_type_doc.length === this.num_doc.length &&
        this.doc_type_doc.length === this.date_doc.length &&
        this.doc_type_doc.length === this.sum_doc.length &&
        this.doc_type_doc.length === this.state_doc.length &&
        this.doc_type_doc.length === this.period_doc.length">
      <p class="title">{{ $t('Архив прочих документов') }}</p>
      <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
          <th>{{ $t('Тип документа') }}</th>
          <th>{{ $t('№ документа') }}</th>
          <th>{{ $t('Дата документа') }}</th>
          <th>{{ $t('Сумма') }}</th>
          <th>{{ $t('Период') }}</th>
          <th>{{ $t('Состояние') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(value,index) in this.doc_type_doc">
          <td>{{ doc_type_doc[index] }}</td>
          <td>{{ num_doc[index] }}</td>
          <td>{{ date_doc[index] }}</td>
          <td>{{ sum_doc[index] }}</td>
          <td>{{ period_doc[index] }}</td>
          <td>{{ state_doc[index] }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
export default {
  name: "Elektr",
  props: ['id', 'data'],
  data() {
    return {
      saldo_period: [],
      period: [],
      saldo_in: [],
      debit: [],
      redebit: [],
      credit: [],
      saldo_out: [],
      payments: [],
      pay_sum: [],
      pay_type: [],
      pay_date: [],
      other_docs: [],
      num_doc: [],
      date_doc: [],
      sum_doc: [],
      state_doc: [],
      period_doc: [],
      readings: [],
      meter_type: [],
      meter_no: [],
      reading: [],
      reading_date: [],
      period_length: [],
      pay_sum_length: [],
      doc_type_doc: [],
    }
  },
  created() {
    if (this.data && this.data['SALDO_PERIOD'] && this.data['PAYMENTS'] && this.data['OTHER_DOCS']) {
      this.saldo_period = this.data['SALDO_PERIOD'];

      this.period = this.saldo_period['PERIOD'];
      this.saldo_in = this.saldo_period['SALDO_IN'];
      this.debit = this.saldo_period['DEBIT'];
      this.redebit = this.saldo_period['REDEBIT'];
      this.credit = this.saldo_period['CREDIT'];
      this.saldo_out = this.saldo_period['SALDO_OUT'];

      this.payments = this.data['PAYMENTS'];
      this.pay_sum = this.payments['PAY_SUM'];
      this.pay_type = this.payments['PAY_TYPE'];
      this.pay_date = this.payments['PAY_DATE'];

      this.other_docs = this.data['OTHER_DOCS'];

      this.doc_type_doc = this.other_docs['DOC_TYPE'];
      this.num_doc = this.other_docs['NUM_DOC'];
      this.date_doc = this.other_docs['DATE_DOC'];
      this.sum_doc = this.other_docs['SUMM_DOC'];
      this.state_doc = this.other_docs['STATE'];
      this.period_doc = this.other_docs['PERIOD'];

      this.readings = this.data['READINGS'];

      this.meter_type = this.readings['METER_TYPE'];
      this.meter_no = this.readings['METER_NO'];
      this.reading = this.readings['READING'];
      this.reading_date = this.readings['READING_DATE'];

      this.period_length = this.period.length;
      this.pay_sum_length = this.pay_sum.length;
    }
  }
}
</script>

<style scoped>

</style>