<template>
  <div>
    <div v-if="this.data" class="mt-3">
      <h1>{{ $t('Подробнее') }}</h1>
      <table class="table table-condensed table-striped table-bordered">
        <tbody>
        <tr>
          <th>{{ $t('Лицевой счет потребителя') }}</th>
          <td>{{ data.customer_code }}</td>
        </tr>
        <tr>
          <th>{{ $t('ФИО потребителя') }}</th>
          <td>{{ data.name }}</td>
        </tr>
        <tr>
          <th>{{ $t('Адрес потребителя') }}</th>
          <td>{{ data.address }}</td>
        </tr>
        <tr>
          <th>{{ $t('Номер договора') }}</th>
          <td>{{ data.conract_number }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата договора') }}</th>
          <td>{{ data.conract_date }}</td>
        </tr>
        <tr>
          <th>{{ $t('Тарифы') }}</th>
          <td>{{ data.tariff_summa }}</td>
        </tr>
        <tr>
          <th>{{ $t('Тип счетчика') }}</th>
          <td>{{ data.meter_type }}</td>
        </tr>
        <tr>
          <th>{{ $t('Номер счетчика') }}</th>
          <td>{{ data.meter_number }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата установка') }}</th>
          <td>{{ data.setup_date }}</td>
        </tr>
        <tr>
          <th>{{ $t('Подключен АСКУГ') }}</th>
          <td>{{ data.is_askug }}</td>
        </tr>
        <tr>
          <th>{{ $t('Последнее показание') }}</th>
          <td>{{ data.last_reading_val }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата последних показание') }}</th>
          <td>{{ data.last_reading_date }}</td>
        </tr>
        <tr>
          <th>{{ $t('Оплаченный м3') }}</th>
          <td>{{ data.paid_volume }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата последней оплаты') }}</th>
          <td>{{ data.last_payment_date }}</td>
        </tr>
        <tr>
          <th>{{ $t('Сумма последней оплаты') }}</th>
          <td>{{ data.last_payment_sum }}</td>
        </tr>
        <tr>
          <th>{{ $t('Текущий баланс') }}</th>
          <td>{{ data.current_balance }}</td>
        </tr>
        </tbody>
      </table>

      <div v-if="data.interraction">
        <h1>{{ $t('Полная информация за годовой отчетный период') }}</h1>
        <table v-for="item in data.interraction" class="table table-condensed table-striped table-bordered">
          <hr>
          <tbody>
          <tr>
            <th>{{ $t('Период') }}</th>
            <td>{{ item.period }}</td>
          </tr>
          <tr>
            <th>{{ $t('Баланс за период') }}</th>
            <td>{{ item.saldo_n }}</td>
          </tr>
          <tr>
            <th>{{ $t('Показание счетчика') }}</th>
            <td>{{ item.reading_value }}</td>
          </tr>
          <tr>
            <th>{{ $t('Расход газа') }}</th>
            <td>{{ item.gas_consume }}</td>
          </tr>
          <tr>
            <th>{{ $t('Акт') }}</th>
            <td>{{ item.act }}</td>
          </tr>
          <tr>
            <th>{{ $t('Электронные платежи') }}</th>
            <td>{{ item.online_payments }}</td>
          </tr>
          <tr>
            <th>{{ $t('Мунис платежи') }}</th>
            <td>{{ item.munis_payments }}</td>
          </tr>
          <tr>
            <th>{{ $t('Квитанция платежи') }}</th>
            <td>{{ item.kvit_payments }}</td>
          </tr>
          <tr>
            <th>{{ $t('Перевод денег платежи') }}</th>
            <td>{{ item.plat_payments }}</td>
          </tr>
          <tr>
            <th>{{ $t('Пеня') }}</th>
            <td>{{ item.fine }}</td>
          </tr>
          <tr>
            <th>{{ $t('Сальдо на конец периода') }}</th>
            <td>{{ item.saldo_k }}</td>
          </tr>
          <tr>
            <th>{{ $t('Количество жителей') }}</th>
            <td>{{ item.people_count }}</td>
          </tr>
          <tr>
            <th>{{ $t('Количество газовых приборов') }}</th>
            <td>{{ item.gas_equipments_count_ }}</td>
          </tr>
          <tr>
            <th>{{ $t('Отапливаемая зона') }}</th>
            <td>{{ item.heating_field }}</td>
          </tr>
          </tbody>
          <br>
        </table>
      </div>
    </div>
    <div class="col-md-12 mt-3" v-if="errMessage">
      <div class="alert alert-danger">{{ errMessage }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Gas",
  props: ['id', 'data'],
  data() {
    return {
      errMessage: null
    }
  },
}
</script>

<style scoped>

</style>