<template>
  <div>
    <div class="cml_list_item">
      <div class="new_table_style">
        <h3>{{ $t(this.serviceName) }}</h3>
        <table>
          <tbody>
          <tr>
            <th>{{ $t('Название услуги') }}</th>
            <td>{{ $t(this.serviceName) }}</td>
          </tr>
          <tr>
            <th>{{ $t('Баланс') }}</th>
            <td :class="parseFloat(this.data.balance) < 0 ? 'text-danger danger-color' : 'text-success success-color'">
              {{
                this.data.balance ? numberWithCommas(parseFloat(this.data.balance)) : '0'
              }}
            </td>
          </tr>
          <tr>
            <th>{{ $t('Тариф') }}</th>
            <td>{{ this.data.rate }}</td>
          </tr>
          <tr>
            <th>{{ $t('Последняя оплата') }}</th>
            <td>{{
                 this.data.last_payment ? numberWithCommas(parseFloat(this.data.last_payment)) : '0'
              }}
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div v-if="loadingBtn">
            <pulse-loader :loading="loadingBtn" :color="'green'" :size="'10px'"></pulse-loader>
          </div>
          <div v-else>
            <div>
              <button @click="setShowView()" class="showmore_btn">
                {{ $t('Более') }}
              </button>
            </div>
            <br>
            <div class="after_table_btns">
              <router-link
                  v-if="typeof this.data.model.account_number !== 'undefined' && this.data.model.account_number && this.data.model.account_number!='0'"
                  :to="{name: 'payment',params : { communal_id : this.data.model.id, id: this.$store.state.realty_id, service_id:this.$store.state.type_id}}"
                  class="pay_link btn btn-success m-md-2">
                <i class="fa fa-credit-card"></i>
                {{ $t('Оплата') }}
              </router-link>
              <router-link
                  :to="{ name: 'communalUpdate',params: { id: this.$store.state.realty_id ,type_id : this.$store.state.type_id } }"
                  class="pay_link btn btn-primary m-md-2">
                <i class="fa fa-pencil"></i>
                {{ $t('Редактировать') }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div v-if="showView">
        <div v-if="!dataOfFull && errorMess">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger">{{ errorMess }}</div>
            </div>
          </div>
        </div>
        <div v-else>
          <ViewReturner :id="this.data.id" :type_id="this.$store.state.type_id" :data="dataOfFull"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewReturner from "./ViewReturner";
import UpdaterView from "../views/Updates/UpdaterView";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import AxiosClient from "../plugins/axiosClient";

export default {
  name: "MainContentContent",
  components: {
    UpdaterView,
    ViewReturner,
    PulseLoader
  },
  props: ['data'],
  data() {
    return {
      loadingBtn: true,
      showView: false,
      settingsBtn: false,
      dataOfFull: null,
      serviceName: '',
      errorMess: null
    }
  },
  methods: {
    setShowView() {
      this.showView = !this.showView
    },
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

  },
  created() {
    this.$store.dispatch('changeType', {
      type_id: parseInt(this.$route.params.type_id)
    })
    this.serviceName = this.$store.state.serviceNames[this.$route.params.type_id]
  },
  mounted() {
    if (this.data !== '') {
      if (this.data.result) {
        this.dataOfFull = this.data.result
        this.loadingBtn = false
      } else {
        this.errorMess = this.data.message
        this.loadingBtn = false
      }
    }
  }
}
</script>