<template>
  <div class="cml_btns" v-if="this.items.leftMenu">
    <div class="cml_back_btn">
      <button type="button" @click="back()">
        <img src="/img/back_ic.svg" alt="image">
        {{ $t('Назад') }}
      </button>
    </div>
    <div class="cml_btns_filter">
      <router-link :to="{name : 'communalsInfo',params :{ id: items.currentRealty.id, type_id: item.type_id}}"
                   v-for="item in this.items.leftMenu" :key="item.type_id" @click="changeState(item)"
                   :class="item.type_id === currItem ? 'active_cml_links' : ''"
                   class="cml_links"
      >
        <img :src="`/img/${item.type_id}.svg`" :alt="item.label">
        {{ $t(item.label) }}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: [
    'items'
  ],
  data() {
    return {
      currItem: -1
    }
  },
  methods: {
    changeState(item) {
      this.currItem = item.type_id
      return this.$store.dispatch('changeState', {
        type_id: item.type_id
      })
    },
    back() {
      this.$router.back()
    },
  },
  mounted() {
    if (this.$route.params.type_id)
      this.currItem = parseInt(this.$route.params.type_id)

    this.$store.subscribe(mutation => {
      if (mutation.type === 'CLEAR_COMMUNALS') {
        this.currItem = -1
      }
    });
  },
  watch: {
    $route(to, from) {
      if (to.params.id)
        this.$store.dispatch('changeRealty', {
          realty_id: parseInt(to.params.id)
        })
      if (to.params.type_id)
        this.$store.dispatch('changeType', {
          type_id: parseInt(to.params.type_id)
        })
    }
  }
}
</script>

<style>

</style>