<template>
  <div class="kadastr_slider">
    <div class="container">
      <div class="row">
        <div v-if="loaded" class="wrapper-for-carousel">
          <carousel class="kadastr_new_slider" :autoplay="false" :dots="false"
                    :responsive="{0:{items:1,nav:false},767:{items:1,nav:false},768:{items:2,nav:false}}">
            <template v-slot:prev>
              <button class="prev">
                <img src="/img/kadastr_left_ic.svg">
              </button>
            </template>
            <div class="kadastr_item" v-for="option in dropdownItems" @click="setNavItems(option.id)"
                 :class="(selectedValue === option.id) ? 'kadastr_item_hover' : '' ">
              <img src="/img/home.svg" alt="image" class="slider_decor_item">
              <div class="kadastr_info_1">
                <div class="kadastr_img">
                  <img src="/img/loc_ic.svg" alt="image">
                </div>
                <div class="kadastr_info">
                  <h4>{{ option.text.substring(0, 50) + ' ...' }}</h4>
                </div>
              </div>
              <div class="kadastr_info_1">
                <div class="kadastr_img">
                  <img src="/img/map_ic.svg" alt="image">
                </div>
                <div class="kadastr_info">
                  <h4>{{ $t('Кадастровый номер') }}: </h4>
                  {{ option.cad_num }}
                </div>
              </div>
            </div>
            <template v-slot:next>
              <button class="next">
                <img src="/img/kadastr_right_ic.svg">
              </button>
            </template>
          </carousel>
          <AddRealty @newRealty="refreshRealty()"/>
        </div>
        <div v-else>
          <br>
          <br>
          <div v-if="error">
            <AddRealty @newRealty="refreshRealty()"/>
          </div>
          <VueLoader v-else />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-select/dist/vue-select.css";
import router from "../router";
import AxiosClient from "../plugins/axiosClient";
import carousel from 'vue-owl-carousel'
import VueLoader from "./VueLoader";
import {maska} from "maska";
import AddRealty from "./AddRealty";

export default {
  name: "OwlCarouselRealties",
  components: {AddRealty, VueLoader, carousel},
  directives: {maska},
  data() {
    return {
      dropdownItems: [],
      selectedValue: '',
      loaded: false,
      addRealtyCardShow: false,
      cadastral_number: '',
      error: false
    }
  },
  methods: {
    setNavItems(item) {
      this.selectedValue = item
      this.open = false;
      router.push({name: 'communals', params: {id: this.selectedValue}}).catch(() => {
      })
      return this.$store.dispatch('setNavItems', {
        id: this.selectedValue
      })
    },
    getRealties() {
      AxiosClient.get('/default/realties')
          .then(response => {
            if (response.data.data) {
              this.dropdownItems = response.data.data
              if (response.data.data[0]) {
                this.loaded = true
                if (!this.$route.params.id) {
                  this.selectedValue = response.data.data[0].id
                  this.$store.dispatch('changeRealty', {
                    realty_id: this.selectedValue
                  })
                } else {
                  let routeparam = this.$route.params.id
                  let index = response.data.data.findIndex(function (item) {
                    return item.id === parseInt(routeparam)
                  })
                  this.selectedValue = response.data.data[index].id
                  this.$store.dispatch('changeRealty', {
                    realty_id: this.selectedValue
                  })
                }
              }
            } else {
              this.error = true
            }
          }).catch(err => {
        console.log(err)
      })
    },
    refreshRealty() {
      this.$emit('addedRealty')
    },
  },
  created() {
    this.getRealties()
  },
  computed: {}

}
</script>
