<template>
  <div v-if="data">
    <table id="w1" class="table table-striped table-bordered detail-view">
      <tbody>
      <tr>
        <th>{{ $t('Адрес') }}</th>
        <td>{{ data.address }}</td>
      </tr>
      <tr>
        <th>{{ $t('Тип') }}</th>
        <td>{{ data.type }}</td>
      </tr>
      <tr>
        <th>{{ $t('Общая площадь') }}</th>
        <td>{{ data.area }}</td>
      </tr>
      <tr>
        <th>{{ $t('Производственная/жилая площадь') }}</th>
        <td>{{ data.available_area }}</td>
      </tr>
      <tr>
        <th>{{ $t('Вид права') }}</th>
        <td>{{ data.own_type }}</td>
      </tr>
      <tr>
        <th>{{ $t('Кадастровая стоимость') }}</th>
        <td>{{ data.cadastral_cost }}</td>
      </tr>
      <tr>
        <th>{{ $t('Дата и номер регистрации') }}</th>
        <td>{{ data.reg_date }}</td>
      </tr>
      <tr>
        <th>{{ $t('Кадастровый номер') }}</th>
        <td>{{ data.cadastral_number }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "RealtyView",
  props: ['data']
}
</script>

<style scoped>

</style>