<template>
  <div v-if="typeof this.data.Remote['Header'] != 'undefined' && this.data.Remote['Header']">
    <h1>{{ $t('Подробнее') }}</h1>
    <div class="mobile_style_scroll">
      <table class="table detail-view customTable table-striped">
        <tbody>
        <tr v-for="(value,index) in this.data.Remote['Header']">
          <td class="col-md-6"><b>{{ data.Remote['Header'][index] }}</b></td>
          <td class="col-md-6">{{ data.Remote['Result'][index] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div v-else>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">{{ $t('Данные не найдены') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Teplo",
  props: ['id', 'data'],
  created() {
  }
}
</script>

<style scoped>

</style>