<template>
  <div v-if="this.data">
    <h1>{{ $t('Подробнее') }}</h1>
    <div class="mobile_style_scroll" v-for="item in this.data">
      <table class="table table-condensed table-striped table-bordered">
        <tbody>
        <tr>
          <th>{{ $t('Адрес потребителя') }}</th>
          <td>{{ item.address }}</td>
        </tr>
        <tr>
          <th>{{ $t('Название области') }}</th>
          <td>{{ item.area_name }}</td>
        </tr>
        <tr>
          <th>{{ $t('Потребительский регион') }}</th>
          <td>{{ item.region_name }}</td>
        </tr>
        <tr>
          <th>{{ $t('Лицевой счет потребителя') }}</th>
          <td>{{ item.customer_code }}</td>
        </tr>
        <tr>
          <th>{{ $t('Дата последней оплаты') }}</th>
          <td>{{ item.last_payment_date }}</td>
        </tr>
        <tr>
          <th>{{ $t('Сумма последней оплаты') }}</th>
          <td>{{ item.last_payment_sum }}</td>
        </tr>
        <tr>
          <th>{{ $t('Текущий баланс') }}</th>
          <td>{{ item.current_balance }}</td>
        </tr>
        <tr>
          <th>{{ $t('ФИО потребителя') }}</th>
          <td>{{ item.name }}</td>
        </tr>
        <tr>
          <th>{{ $t('Сумма тарифа') }}</th>
          <td>{{ item.tariff_summa }}</td>
        </tr>
        <tr>
          <th>{{ $t('Количество жителей') }}</th>
          <td>{{ item.people_count }}</td>
        </tr>
        <tr>
          <th>{{ $t('Сервисная организация') }}</th>
          <td>{{ item.serving_company_name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div v-else>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">{{ $t('Данные не найдены') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Trash",
  props: ['id', 'data'],
}
</script>

<style scoped>

</style>