<template>
  <div>
    <Trash v-if="type_id == 168 || type_id == 367" :id="id" :data="data"/>
    <ColdWater v-if="type_id == 119" :id="id" :data="data"/>
    <Teplo v-if="type_id == 127" :id="id" :data="data"/>
    <Gas v-if="type_id == 166" :id="id" :data="data"/>
    <Elektr v-if="type_id == 3" :id="id" :data="data"/>
  </div>
</template>

<script>
import Gas from "./Gas";
import Elektr from "./Elektr";
import Trash from "./Trash";
import Teplo from "./Teplo";
import ColdWater from "./ColdWater";

export default {
  name: "ViewReturner",
  components: {ColdWater, Teplo, Trash, Elektr, Gas},
  props: ['id', 'type_id', 'data'],
  created() {
  }
}
</script>

<style scoped>

</style>