<template>
  <div class="position-fixed">
    <VueElementLoading
        :active="true"
        spinner="bar-fade-scale"
        color="#1e97e7"
        text="Loading..."
        size="100"
        background-color="rgba(255, 255, 255, .9)"
        :show="true"
        :class="true ? 'loader' : ''"
    />
  </div>
</template>

<script>
import VueElementLoading from "vue-element-loading";
import MainContentContent from "./MainContentContent";

export default {
  name: "VueLoader",
  components: {
    VueElementLoading
  },
}
</script>

<style >

</style>