<template>
  <div>
    <OwnCarouselRealties v-if="newRealty" @addedRealty="reload()"/>
    <div class="new_cml_wrap bg_nl_blue">
      <div class="container">
        <div class="row">
          <Navbar :items="navItems"/>
          <div class="main_cml_list">
            <keep-alive>
              <router-view :key="$route.fullPath"/>
            </keep-alive>
          </div>
          <div class="main_cml_list" v-if="Array.isArray(this.navItems) && this.navItems.length === 0">
            <h3 class="text-center">{{
                $t('Коммунальные услуги не найдены. Вам следует выбрать другую недвижимость, если у вас есть')
              }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OwnCarouselRealties from "./components/OwnCarouselRealties";
import MainContent from "./views/MainContent";
import Navbar from "./components/Navbar";
import VueLoader from "./components/VueLoader";

export default {
  'name': 'App',
  components: {VueLoader, Navbar, MainContent, OwnCarouselRealties},
  data() {
    return {
      loading: true,
      newRealty:true
    }
  },
  computed: {
    navItems() {
      return this.$store.state.navItems
    }
  },
  methods: {
    back() {
      this.$router.back()
    },
    reload() {
     this.newRealty = false
      this.$nextTick(() => {
        this.newRealty = true;
      });
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.$store.dispatch("getNavItems", {
        id: parseInt(this.$route.params.id)
      });
    } else {
      this.$store.dispatch("getNavItems");
    }
    this.loading = false;
  },
  watch: {
    $route(to, from) {
      if (to.params.id)
        this.$store.dispatch('changeRealty', {
          realty_id: parseInt(to.params.id)
        })
      if (to.params.type_id)
        this.$store.dispatch('changeType', {
          type_id: parseInt(to.params.type_id)
        })
    }
  }
}
</script>

<style>

</style>
